<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>


    <script src="../app/app.js"></script>
    <script src="../app/ngEmbed.js"></script>
    <script src="../app/factories/oEmbedProvider.js"></script>
    <script src="../app/services/baseService.js"></script>
    <script src="../app/services/templateService.js"></script>
    <script src="../app/services/yqlService.js"></script>
    <script src="../app/services/apiService.js"></script>
    <script src="../app/services/embedTagService.js"></script>
    <script src="../app/services/longifyService.js"></script>
    <script src="../app/services/oEmbedProviderService.js"></script>

    <style>
        iframe {
            width:100%;
        }
    </style>

    <!--<script src="../dist/ngEmbed.min.js"></script>-->


    <script>
        angular.module('test', ['ngEmbed']).controller('ctrl', ['$scope', '$timeout', function ($scope, $timeout) {
            $scope.urls = [
                'http://vimeo.com/channels/staffpicks/118290158',
                'https://flic.kr/p/q7E1Qg',
                'https://audioboom.com/boos/2898804-gold-coaster-sue-lamb-found-10-million-dollars-in-her-bank-account',
                'http://instagram.com/p/zIIsd0IVS4',
                'https://twitter.com/chrisloy/status/563099461082431491',
                'http://www.bbc.co.uk/news/uk-31164451',
                'https://vine.co/v/OHhMKX7Hd0q',
                'https://www.youtube.com/watch?v=TWfph3iNC-k',
                'https://www.facebook.com/officialgarylineker/posts/354204521404987',
                'http://www.touchcast.com/insidetracks/ad9fc3172b',
                'http://bbc-vip.touchcast.com/embed/19535',
                'http://www.touchcast.com/e/54059',
                'http://www.touchcast.com/insidetracks/inside_tracks_the_beach',
                'https://soundcloud.com/zedsdead/zeds-dead-twin-shadow-lost-you-feat-dangelo-lacy',
                'http://en.wikipedia.org/wiki/BBC',
                'https://instagram.com/p/0fiL-oIVaR/?taken-by=natgeo',
                'https://instagram.com/p/0kxc_pIVWM/?taken-by=natgeo',
                'https://instagram.com/p/0aOc_rIVSu/?taken-by=natgeo'
            ];

            $scope.model = {};
            $scope.settings = {}
        }])
    </script>
</head>

<body ng-app="test" ng-controller="ctrl">
<div ng-repeat="url in urls">
    <ng-embed embed-url="{{url}}" ng-model="model" settings="settings"></ng-embed>
</div>

<div id="bob"></div>
</body>
</html>